.icon-add  { 
  background-image: url('add.png') !important; 
}
.icon-delete  { 
  background-image: url('delete.png') !important;
}
.icon-edit  { 
  background-image: url('edit.png') !important;
}
.icon-cancel  { 
  background-image: url('cancel.png') !important;
}
.icon-ok  { 
  background-image: url('ok.png') !important;
}
.icon-details  { 
  background-image: url('showdetails.png') !important;
}
.icon-nodetails  { 
  background-image: url('hidedetails.png') !important;
}
