<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<HTML>
<HEAD>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=iso-8859-1">
<META NAME="Author" CONTENT="Free Pascal Web Team">
<META name="description" content="Free Pascal: free 32-bit Pascal compiler for DOS, Linux, Win32 and OS/2">
<META NAME="keywords" content="32 bit, protected mode, compiler, pascal, FPC, FPC Pascal, Free Pascal">
<LINK href="/styles.css" rel=stylesheet type="text/css">
<LINK REL="SHORTCUT ICON" href="/favicon.ico">
<TITLE>Free Pascal - Bug lists</TITLE>
</HEAD>
<BODY TEXT="#000000" BGCOLOR="#FFFFFF">
<TABLE BORDER=0 CELLSPACING=0 CELLPADDING=0 WIDTH="100%">
<TR>
<TD><CENTER><IMG SRC="http://www.freepascal.org/pic/logo.gif" ALT="Logo" HEIGHT=63 WIDTH=133></CENTER></TD>
<TD><IMG SRC="http://www.freepascal.org/pic/fp.png" ALT="Free Pascal" WIDTH=550 HEIGHT=90></TD>
</TR>
<TR VALIGN=TOP>
<TD BGCOLOR="#E6E6E6">
<TABLE border=0 cellPadding=0 cellSpacing=0 WIDTH=180 HEIGHT="100%">
<TR VALIGN=TOP>
<TD BGCOLOR="#A0B0FF" class="menu" WIDTH="100%" HEIGHT="100%">
<BR>
&nbsp;<A HREF="http://www.freepascal.org/fpc.html" class="navi">Introduction</A><BR>
&nbsp;<A HREF="http://www.freepascal.org/sdown.html" class="navi">Download</A><BR>
&nbsp;<A HREF="http://www.freepascal.org/news.html" class="navi">News</A><BR>
&nbsp;<A HREF="http://www.freepascal.org/moreinfo.html" class="navi">More Information</A><BR>
&nbsp;<A HREF="http://community.freepascal.org:10000" class="navi">Community</A><BR>
&nbsp;<A HREF="http://www.freepascal.org/prog.html" class="navi">Programmers tools</A><BR>
&nbsp;<A HREF="http://www.freepascal.org/develop.html" class="navi">Development</A><BR>
&nbsp;<A HREF="http://www.freepascal.org/aboutus.html" class="navi">About us</A><BR>
&nbsp;<A HREF="http://www.freepascal.org/links.html" class="navi">Links/Mirrors</A><BR>
&nbsp;<B class="curnavi">Bugs</B><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="http://www.freepascal.org/probs.html" class="navi">Known Problems</A><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="http://www.freepascal.org/bugs/add.php3" class="navi">Submit bug report</A><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="http://www.freepascal.org/bugs/db.php3" class="navi">List of all known bugs</A><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="http://www.freepascal.org/bugs/db.php3?statusfield=Unfixed" class="navi">List of unfixed bugs</A><BR>
&nbsp;&nbsp;&nbsp;&nbsp;<A HREF="http://www.freepascal.org/bugs/db.php3?age=Last+week" class="navi">Last 7 days reports</A><BR>
&nbsp;<A HREF="http://www.freepascal.org/units.html" class="navi">Units</A><BR>
<BR><BR>
</TD>
<TD background="pic/shadowr.png"  BGCOLOR="#f0f0ff" vAlign=top><IMG height=12 src="pic/shadowrt.png" width=12></TD>
</TR> 
<TR>
<TD background="pic/shadowb.png" vAlign=bottom><IMG height=12 src="pic/shadowlb.png" width=12></TD>
<TD><IMG height=12 src="pic/shadowrb.png" width=12></TD>
</TR>
</TABLE>
<center>
<br>
<a href="http://www.lazarus.freepascal.org"><img src="pic/lazarus_produced_logo.gif" alt="Lazarus Logo" border=0 height="57" width="125" /></a><br>
<br>
<a href="http://www.ffii.org"><img src="http://demo.ffii.org/banners/bsod7s_88x31.en.png" alt="EU-Council segfaulted" border=0 height="31" width="88" /></a><br>
<br>
<a href="http://sourceforge.net"><img src="http://sourceforge.net/sflogo.php?group_id=2174&amp;type=1" width="88" height="31" border="0" alt="SourceForge.net Logo" /></a><br>
<br>
<!-- <a href="http://validator.w3.org/check/referer"><img src="http://www.w3.org/Icons/valid-html401" alt="Valid HTML 4.01!" border=0 height="31" width="88" /></a><br> -->
</center>
</TD>
<TD BGCOLOR="#E6E6E6" WIDTH="100%" HEIGHT="100%">
<H1>Bug repository</H1>
<!-- SPLITHERE -->
